*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	font-size: 13px;
}

header{

	/* background: yellow; */
	height: 110px;
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 20px;
}

.conteneur{
	width: 1000px;
	margin: 0 auto;
	min-height: 105px;
	/* background: purple; */

}

.clear{
	clear: both;
	
}

/********* NAV ***********/
nav{
	width: 500px;
	margin: 0 auto;
	height: 30px;
    /* background: brown; */
}

nav a{
	line-height: 30px;
	color: #000000; 
	float: left;
	padding: 0 35px;
}

nav a:hover{
	color: #ffffff;
	background: #8daab7;
	border-radius: 10px;
	/* transition: padding .2s; */
	
}
/********* NAV ***********/


/********* HAUT GAUCHE ***********/
.haut-gauche{
	float: left;
	width: 700px;
	height: 75px;
	/* background: red; */
}
.haut-gauche h1{
	color: #000000; /* couleur du texte */
	font-size: 25px; /* taille de la police */
	margin: 10px 0 0 55px;
	text-shadow: 1px 1px 1px; /* ombre sur le texte */
}
 
.haut-gauche h2{
	margin: 5px 0 0;
	font-size: 15px; 
	letter-spacing: 3px; /* espace entre les caractères */
}

.haut-gauche h2 span{
	color: #8daab7;
}
/********* HAUT DROITE ***********/
.haut-droite{
	float: left;
	width: 300px;
	height: 75px;
    /* background: green; */
}

.haut-droite a{
	color: #8daab7;
	display: block; /* transforme les éléments 'inline' en 'block' */
	text-align: right;
}

.haut-droite a:first-child{
	margin: 10px 0 0 0;
	/* on cible la première 'a' dans la div pour ajouter de la marge au dessus 'top'*/
}

.haut-droite a:hover{
	text-decoration: underline;
	/* au survol de la souris on souligne le texte */
}

/********* HAUT DROITE ***********/


/********* MILIEU GAUCHE ***********/
.milieu-gauche{
	float: left;
	width:600px;
	height: 700px;
	/* background: pink; */
}

.milieu-gauche h1{
	color: #8daab7;
}

.milieu-gauche .fiche{
	float: left; /* pour aligner le texte à côté de l'image */
	margin: 0 7px 0 0; /* marge à droite */
}

.milieu-gauche ul li{
	list-style-type: none; /* on retire les types par défaut */
	background: url(../img/fleche.jpg) left center no-repeat;
	padding: 0 0 0 30px;
	margin: 10px 0;
}

.milieu-gauche .graphique{
	display: block;
	margin: 0 auto;

}


.italic{
	font-style: italic;
}





/********* MILIEU GAUCHE ***********/



/********* MILIEU DROIT ***********/

.milieu-droit{
	float: left;
	width: 400px;
	height: 700px;
	/* background: blue; */
}

.milieu-droit  .cadre{
	/* background: purple; */
	border: 1px solid #c0c0c0;
	border-radius: 10px; /*arrondi*/
	width: 300px;
	min-height: 100px;
	float: right; /*positionnement à droite */
	margin: 15px 0;
}

.milieu-droit .cadre h2{
	/* color: #333333; */
	font-size:15px;
	text-align: center;
	padding: 5px 10px;
	background: #F2F2F2;
	border-bottom: 1px solid #c0c0c0; /* bordure en dessous du h2 */
	border-radius: 10px 10px 0 0; /* arrondi*/
	
}
.milieu-droit .cadre p{
	padding: 10px;
}
    
.milieu-droit .cadre ul li{
	margin: 10px 0 10px 30px;
}
	



/********* MILIEU DROIT ***********/

/********* FOOTER ***********/

footer{
	/* background: black; */
	height: 110px;
	border-top: 1px solid #c0c0c0;
	margin-top: 20px;
	text-align: center;
	padding: 20px 0 0 0;
}

footer a{
	color: #8daab7;
}

footer a:hover{
	text-decoration: underline;
}

 footer p{
	 margin: 8px 0 0 0;
 }

/********* FOOTER ***********/
/********* CONTACT ***********/

#section-contact{
	min-height: 600px;
}
/********* CONTACT ***********/






